"context-menu":
  "atom-text-editor": [
    {
      "label": "Toggle sayn-debugger"
      "command": "sayn-debugger:toggle"
    }
  ]
"menu": [
  {
    "label": "Packages"
    "submenu": [
      "label": "sayn-debugger"
      "submenu": [
        {
          "label": "Toggle"
          "command": "sayn-debugger:toggle"
        }
      ]
    ]
  }
]
